.rating {
  padding: 0.75em;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  gap: 3em;

  background-color: var(--col-light-gray2);

  border-radius: 15px;

  grid-row: 2/3;
  width: 100%;
}

.rating__Rate {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
  cursor: pointer;
}

.rating__number {
  color: var(--col-mod-blue);

  font-size: var(--fs-sec);
}

.options {
  grid-row: 2/3;
}

.UserOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: var(--fs-sec);
}

.UserOptions__Delete {
  color: var(--col-soft-red);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.UserOptions__Edit {
  cursor: pointer;
  color: var(--col-mod-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.replyBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-sec);

  cursor: pointer;
  color: var(--col-mod-blue);
  gap: 0.45em;
}

.replyBtn__text {
  font-weight: var(--fw-tri);
}

.comment {
  grid-column: 1/-1;
}

.commentUser {
  display: flex;
  gap: 1em;
  align-items: center;
}

.comment__Comment {
  margin-top: 1em;
}

.commentUser__Img {
  width: 35px;
  height: 35px;
}

.commentUser__Name {
  font-weight: var(--fw-tri);
}

.commentUser__currUser {
  background-color: var(--col-mod-blue);
  color: var(--col-neut-white);
  padding: 0.25em 0.45em;
  border-radius: 5px;
}

.commentCon {
  padding: 1.2em;
  background-color: var(--col-neut-white);
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1em;
}

.replyBox {
  padding: 1.2em;
  background-color: var(--col-neut-white);
  border-radius: 10px;

  /* display: flex;
  gap: 1em;
  align-items: flex-start; */

  display: grid;
  grid-template-columns: 50px 1fr 100px;
  gap: 0.75em;
}

.replyBox__TextArea {
  flex: 2;
  resize: none;

  padding: 0.55em;
  color: var(--col-gray-blue);
  border-radius: 5px;

  grid-column: 1/-1;
}

.replyBox__Img {
  grid-row: 3/4;
}

.replyBox__Submit {
  border: none;
  border-radius: 10px;
  padding: 0.55em 2em;
  cursor: pointer;

  background-color: var(--col-mod-blue);
  color: var(--col-neut-white);

  font-weight: var(--fw-tri);
  transition: opacity 0.25s;

  grid-row: 3/4;
  grid-column: 3/4;
}

.replyBox__Submit:hover {
  opacity: 0.3;
}

@media screen and (min-width: 50rem) {
  .rating {
    flex-direction: column;
  }

  .commentCon {
    grid-template-columns: auto 1fr auto;
    place-items: center;
  }

  .rating {
    grid-row: 1/3;
  }
  .comment {
    grid-column: 2/4;
    grid-row: 1/3;
  }
  .options {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .replyBox__TextArea {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .replyBox__Img,
  .replyBox__Submit {
    grid-row: 1/2;
  }
}
